.spacing{
    padding-top: 5px;
    padding-bottom: 5px;
}
.console{
    background-color: #202020;
    color: white;
    min-height: 200px;
    max-height: 200px;
    overflow: scroll;
}
html, body {
  background-color: #686868;
}
.spacing-more{
    padding-top: 15px;
    padding-bottom: 5px;
}
